html{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
	width: 100%;
	height: 100%;
    background-image : url('../images/cloudsbg.png');
    background-size:cover;
}

.fixedlayout{
	overflow: hidden;
    padding: 0px;
    margin: 0px;
    /*background-color: red;
    border : 2px solid red;
    text-align: left;*/
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 25;
    width: 100%;
	height: 100%;
    
    //-ms-touch-action : pinch-zoom;  
}
#page-wrapper{
  position: absolute;
  bottom: 200px;
  left: 50%;
  margin-left: -440px;
  width: 780px;
  height: 800px;
  transition: transform 500ms ease;
}

.parentCanvas{
  position: absolute;
  perspective: 400px;
  /*transition: all 500ms ease;*/
  float: left;
  width: 190px;
  height: 100%;
}


.TWIT_content {
  width: 100%;
  height: 100%;
  background-image: url('../images/social0.png');
  background-size: cover;
}

.TWIT_bgImg {
    position: absolute;
    left: 1800px;
    top: 500px;
    display: block;
}

.GM_content {
  width: 100%;
  height: 100%;
  background-image: url('../images/mail1.png');
  background-size: cover;
}

.FB_content {
  width: 100%;
  height: 100%;
  background-image: url('../images/social2.png');
  background-size: cover;
}

.FB_bgImg {
    position: absolute;
    left: 1800px;
    top: 500px;
    display: block;
}

.GROUPON_content {
  width: 100%;
  height: 100%;
  background-image: url('../images/commerce1.png');
  background-size: cover;
}

.GROUPON_bgImg {
    position: absolute;
    left: 1800px;
    top: 500px;
    display: block;
}

.NEWS_content {
  width: 100%;
  height: 100%;
  background-image: url('../images/news.png');
  background-size: cover;
}

.NEWS_bgImg {
    position: absolute;
    left: 1800px;
    top: 500px;
    display: block;
}

.FLICKR_content {
  width: 100%;
  height: 100%;
 /* background-image: url('../images/commerce1.png');*/
  background-size: cover;
  background-color: #000000;
}

.FLICKR_bgImg {
    position: absolute;
    left: 1800px;
    top: 500px;
    display: block;
}     
#element1{
  -ms-touch-action : pinch-zoom;  
  left: 0px;
  z-index: 8;
  perspective-origin: 235% -25%;
  text-align: left;
  position: absolute;
}
#element2{
  -ms-touch-action : pinch-zoom;   
  left: 160px;
  z-index: 9;
  perspective-origin: 145% -25%;
  text-align: left;
  position: absolute;
}
#element3{
  -ms-touch-action : pinch-zoom;  
  left: 320px;
  z-index: 10;
  perspective-origin: 60% -25%;
  text-align: left;
  position: absolute;
}
#element4{
  -ms-touch-action : pinch-zoom;  
  left: 480px;
  z-index: 9;
  perspective-origin: -25% -25%;
  text-align: left;
  position: absolute;
}
#element5{
  -ms-touch-action : pinch-zoom;  
  left: 640px;
  z-index: 8;
  perspective-origin: -115% -25%;
  text-align: left;
  position: absolute;
}

.linePerspective, .bgPerspective{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  z-index: -50;
  left: 113px;

  //background-color: rgba(255, 255, 255, 1.0);
  position: absolute;
  height: 100%;
  width: 10px;
  transition: transform 500ms ease;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  transform: rotateX(180deg) translateZ(-170px) translateY(270px);
  
}
.bgPerspective{
   
  left: 20px;
  width: 100%;
  z-index: -99999;
  box-shadow: none;
  background-color: none;
 ////transition: all 500ms ease;
  transform: rotateX(180deg) translateZ(-200px) translateY(270px);
  /*border: 1px solid red;*/
  //opacity: .5;
}

.bgGradient{
	position: absolute;
	width: 100%;
	height: 40%;
	display: none;
	////transition: transform 500ms ease;
	transform-style: preserve-3d;
	transform-origin: 100% 50%;
	top: 60%;
	transform: translateZ(-3px);
	background-image: gradient(
		ease, left bottom, left top, from(rgba(221, 221, 221, 1.0)),
		to(rgba(221, 221, 221, 0))
	);
}

.line1{
	background-color: #be0afd;
    box-shadow:  0px 0px 5px rgba(190,10,253,.9);
}

.line2 {
	background-color: #fd0797;
    box-shadow: 0px 0px 5px rgba(253,7,151,.9);
}
.line3 {
	background-color: #bcfd09;
    box-shadow: 0px 0px 5px rgba(188,253,9,.9);
}
.line4 {
	background-color: orange;
    box-shadow: 0px 0px 5px rgba(255,165,0,.9);
}
.line5 {
	background-color: #00e8fd;
    box-shadow: 0px 0px 5px rgba(0,232,253,.9);
}

.face{
  //background-color: rgba(255, 255, 255, 1.0);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  transition: all 450ms ease;
  transform-origin: 50% 50%;
  position: absolute;
  height: 122px;
  width: 251px;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  top: 260px;  
}
.card {
	height: 100%;
	width: 100%;
}


.GM_time {
	color: #C6C6C6;
	font-family: 'Segoe UI';
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 3px;

}

.FB_time {
	color: #C6C6C6;
	font-family: 'Segoe UI';
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 3px;

}


.TWIT_time {
	color: #C6C6C6;
	font-family: 'Segoe UI';
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 3px;

}

.TWIT_PIC {
    position: absolute;
    left: 4px;
    top: 38px;
    width: 50px;
    height: auto;
}  


.FB_PIC {
    position: absolute;
    left: 4px;
    top: 38px;
    width: 50px;
    height: 56px;
}    

.TWIT_title {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 12px;
	font-stretch: condensed;
	position: absolute;
	left: 61px;
	top: 28px;
}

.TWIT_message {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 11px;
	font-stretch: condensed;
	text-align: left;
	position: absolute;
	left: 61px;
	top: 48px;
}


.FB_title {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 12px;
	font-stretch: condensed;
	position: absolute;
	left: 61px;
	top: 30px;
}

.FB_message {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 11px;
	font-stretch: condensed;
	text-align: left;
	position: absolute;
	left: 61px;
	top: 50px;
    //border: 1px solid yellow;
    width: 74%;
    height: 51%;
    overflow: hidden;
}

.GROUPON_time {
	color: #C6C6C6;
	font-family: 'Segoe UI';
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 3px;
}

.GROUPON_PIC {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 4px;
    top: 31px;
}    

.GROUPON_title {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 12px;
	font-stretch: condensed;
	position: absolute;
	left: 61px;
	top: 30px;
    overflow: hidden;
    height: 52px;
}

.GROUPON_message {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 11px;
	font-stretch: condensed;
	text-align: left;
	position: absolute;
    width: 90%;
	left: 5%;
	top: 86px;
    height: 30px;
    overflow: hidden;
}

.FLICKR_time {
	color: #FFFFFF;
	font-family: 'Segoe UI';
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 5px;
}

.FLICKR_PIC {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 31px;
}    

.FLICKR_title {
	color: #FFFFFF;
	font-family: 'Segoe UI';
	font-size: 12px;
	font-stretch: condensed;
	position: absolute;
	left: 10px;
	top: 2px;
}


.GM_From {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 12px;
	font-stretch: condensed;
	position: absolute;
	left: 5%;
	top: 25px;
    width: 90%;
    height: 15px;
    overflow: hidden;
}

.GM_subject {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 12px;
	font-stretch: condensed;
	position: absolute;
	left: 5%;
	top: 38px;
    width: 90%;
    height: 15px;
    overflow: hidden;
}

.GM_message {
	color: rgba(0,0,0,0.6);
	font-family: 'Segoe UI';
	font-size: 11px;
	font-stretch: condensed;
	text-align: left;
	position: absolute;
	left: 5%;
	top: 55px;
    height: 50%;
    //border: 1px solid pink;
    width: 93%;
    overflow: hidden;
    
}

.NEWS_time {
	color: #C6C6C6;
	font-family: 'Segoe UI';
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 3px;
}

.NEWS_source {
	color: #C6C6C6;
	font-family: 'Segoe UI';
	font-size: 10px;
	position: absolute;
	left: 5px;
	top: 3px;
}

.NEWS_PIC {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 0px;
    bottom: 0px;
}    

.NEWS_title {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 12px;
	font-stretch: condensed;
	position: absolute;
	left: 107px;
	top: 18px;
    overflow: hidden;
    height: 52px;
}

.NEWS_message {
	color: #000000;
	font-family: 'Segoe UI';
	font-size: 11px;
	font-stretch: condensed;
	text-align: left;
	position: absolute;
    //width: 90%;
	left: 107px;
	top: 73px;
    height: 46px;
    overflow: hidden;
}


#time{
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 13;
   
}
#settings {
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 10;
}


.row1 {
 margin-left: -270px;
 //float: left;
 //left: -300px;
}
.row2 {
 margin-left: -140px;
}
.row3 {
 margin-left: -10px;
 //display: none;
}
.row4 {
 margin-left: 130px;
 //display: none;
}
.row5 {
 margin-left: 270px;
}



.bgOne {
//border: 1px solid blue;
width: 152px;
margin-left: 48px;
}
.bgTwo {
//border: 1px solid blue;
width: 150px;
margin-left: 33px;
}
.bgThree {
//border: 1px solid blue;
width: 154px;
margin-left: 16px;
//transform: translateZ(100px);
}
.bgFour {
//border: 1px solid blue;
width: 158px;
margin-left: 8px;
}
.bgFive {
//border: 1px solid blue;
width: 152px;
margin-left: -4px;
}

.name1-2d {
position: absolute;
font-family: 'Segoe UI';
font-size: 20px;
font-weight:900;
box-shadow: none;
transform: translateY(680px) translateX(0px);
transition: transform 500ms ease;
}
.name2-2d {
position:absolute;
font-family: 'Segoe UI';
font-size: 20px;
font-weight:900;
box-shadow: none;
transform: translateY(680px) translateX(0px);
transition: transform 500ms ease;
}
.name3-2d {
position: absolute;
font-family: 'Segoe UI';
font-size: 20px;
font-weight:900;
box-shadow: none;
transform: translateY(680px) translateX(0px);
transition: transform 500ms ease;
}
.name4-2d {
    position: absolute;
font-family: 'Segoe UI';
font-size: 20px;
font-weight:900;
box-shadow: none;
transform: translateY(680px) translateX(-20px);
transition: transform 500ms ease;
}
.name5-2d {
    position: absolute;
font-family: 'Segoe UI';
font-size: 20px;
font-weight:900;
box-shadow: none;
transform: translateY(680px) translateX(0px);
transition: transform 500ms ease;
}

.name1-3d {
    position: absolute;
font-family: 'Segoe UI';
font-size: 20px;
font-weight:900;
box-shadow: none;
    transform: translateY(680px) translateX(-30px);
}

.name2-3d {
    position: absolute;
font-family: 'Segoe UI';
font-size: 20px;
font-weight:900;
box-shadow: none;
    transform: translateY(680px) translateX(-115px);
}

.name3-3d {
    position: absolute;
font-family: 'Segoe UI';
font-size: 20px;
font-weight:900;
box-shadow: none;
    transform: translateY(680px) translateX(0px);
}

.name4-3d {
    position: absolute;
font-family: 'Segoe UI';
font-size: 20px;
font-weight:900;
box-shadow: none;
    transform: translateY(680px) translateX(95px);
}

.name5-3d {
    position: absolute;
font-family: 'Segoe UI';
font-size: 20px;
font-weight:900;
box-shadow: none;
    transform: translateY(680px) translateX(230px);
}

.name1{
	color: #be0afd;
    text-shadow:2px 2px 2px #333;
}
.name2 {
    color: #fd0797;
    text-shadow:2px 2px 2px #333;
}
.name3 {
	color: #bcfd09;
    text-shadow:2px 2px 2px #333;
}
.name4 {
	color:orange;
    text-shadow:2px 2px 2px #333;
}
.name5 {
	color: #00e8fd;
    text-shadow:2px 2px 2px #333;

}


#dump {
width: 250px;
height: 50px;
position: fixed;
left: 10px;
top: 10px;
background-color:#bcfd09;
color:#000000;
z-index: 9999999999;
}






.lineShadow1{
	background-color: #be0afd;
    box-shadow:  0px 0px 40px rgba(190,10,253,.9);
    transition: all 200ms ease;
}
.lineShadow2 {
	background-color: #fd0797;
    box-shadow: 0px 0px 40px rgba(253,7,151,1);
    transition: all 200ms ease;
}
.lineShadow3 {
	background-color: #bcfd09;
    box-shadow: 0px 0px 40px rgba(188,253,9,.9);
    transition: all 200ms ease;
}
.lineShadow4 {
	background-color: orange;
    box-shadow: 0px 0px 40px rgba(255,165,0,.9);
    transition: all 200ms ease;
}
.lineShadow5 {
	background-color: #00e8fd;
    box-shadow: 0px 0px 40px rgba(0,232,253,.9);
    transition: all 200ms ease;
}

.position0 {
transition: transform 500ms ease;
transform: translateY(320px) translateZ(130px);
display: none;
}

.pans {
pointer-events : none;
-ms-touch-action: none;
position: fixed;
top: -530px;
left: 0px;
width: 100%;
height: 100%;
perspective: 400px;
background-color: rgba(255,255,255,0);
//z-index: 30;
}

.pan {
//border: 1px solid purple;
width: 780px;
height: 200%;
position: absolute;
}

.panLeft {
left: -710px;
/*perspective-origin: 100% -25%;*/
transform: rotateZ(43deg);
//background-color: #be0afd;

}

.panRight {
right: -688px;
/*perspective-origin: -100% -25%;*/
transform: rotateZ(-42.6deg);
//background-color:blue;
}

#elements {
    display: block;
    position: absolute;
    margin: 0px 0px 0px 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;    
}

.overlay {
	position: absolute;
    top : 0px;
    left : 0px;
	height: 100%;
	width: 100%;
    z-index: 1000;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
	transition: all 500ms ease;
}

#overlays {
display: block;
/*background-color : red;*/
}

#date {
position: absolute;
font-family: 'Segoe UI';
font-size: 20px;
color: rgba(0,0,0,0.3);
top: 10px;
left: 15px;
width: 200px;
}

#hrsMins {
position: absolute;
font-family: 'Segoe UI';
font-size: 70px;
color: rgba(255, 255, 255, 1.0);
top: 20px;
left: 6px;
width: 200px;
}

.hiddenData {
display: none;
}

.gmailReply {
 //   opacity: .2;
position: absolute;
left: 2.7%;
bottom: 3.8%;
width: 92.5%;
height: 32%;
background-color: #EBEBEB;
//border: 1px solid purple;
border: none;
font-family: 'Segoe UI';
font-size: 12px;
color: #666;
padding-top: 1%;
padding-left: 2%;
transition: font 1s ease;
}



#weather {
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 9;
    width: 350px;
}

#location {
	position: absolute;
	right: 16px;
	top: 82px;
	z-index: 9;
    font-family: 'Segoe UI';
    font-size: 54px;
    color: #fff;
    //border: 1px solid red;
}

#temperature {
	position: absolute;
	right: 10px;
	top: 132px;
	z-index: 9;
    font-family: 'Segoe UI';
    font-size: 54px;
    color: #fff;
    //border: 1px solid red;
}

#weatherIcon {
	position: absolute;
	right: 144px;
	top: 150px;
	z-index: 9;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    border-radius: 10px;
}
#accounts {
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
#addNew {
	position: relative;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#trashcanIcon {
	position: absolute;
	bottom: 70px;
	left: 34px;
}
#settingsIcon {
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#settingsMenu {

position: fixed;
	right: 0px;
    //left: 100px;
    top: 0px;
	width: 250px;
	height: 100%;
	background-color: #333333;
	transition: transform 1s ease;
	transform: translateX(250px);
	z-index: 12;
    text-align: center;
}

#FB_BUTTON {
    width: 70px;
    height: 30px;
    background-color: red;
    border: 2px solid black;
    font-size : 15px;
}
#TWITTER_BUTTON {
    width: 70px;
    height: 30px;
    background-color: red;
    border: 2px solid black;
    font-size : 15px;
}
#FLICKR_BUTTON {
    width: 70px;
    height: 30px;
    background-color: red;
    border: 2px solid black;
    font-size : 15px;
}
#GMAIL_BUTTON {
    width: 70px;
    height: 30px;
    background-color: red;
    border: 2px solid black;
    font-size : 15px;
}
#line2dContainerBg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 11;
	bottom: -550px;
    left: 0px;
	background-image: url('../images/setting_bg.png');
	transition: all 500ms linear;
    transform: translateY(350px);
}
#lineContainer {
	position: absolute;
	height: 100%;
    width: 100%;
	top: 0px;
    left: 0px;
	//left: 50%;
	//margin-left: -830px;
	//width: 1700px;
	transition: all 500ms linear;

}


.parentCanvas2d{
  position: absolute;
  transition: all 500ms linear;
  width: 190px;
  height: 100%;
}
.lineName {
	font-family: arial;
	font-size: 20px;
	color: white;
	font-weight: bold;
	transform: translateY(17px);
}

.circle {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translateZ(2px)
}
.serviceLabel {
	position: relative;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	transform: translateZ(2px);
}
.serviceContainer {
	position: absolute;
	margin-top: 20px;
	width: 100%;
}

.line2d{
  position: absolute;
  z-index: 0;
  left: 50%;
  margin-left: -8px;
  top: 0px;
  background-color: rgba(255, 255, 255, 1.0);
  position: absolute;
  height: 100%;
  width: 16px;
  transition: all 500ms linear;
}


#element1_2d {
	left: 0%;
	margin-left: -31px;
}
#element2_2d {
	left: 25%;
	margin-left: -113px;
}
#element3_2d {
	left: 50%;
	margin-left: -206px;
}
#element4_2d {
	right: 25%;
	margin-right: 110px;
}
#element5_2d {
	right: 0%;
	margin-right: 193px;
}

.lineOne{
	background-color: #be0afd;
}
.lineTwo {
	background-color: #fd0797;
}
.lineThree {
	background-color: #bcfd09;
}
.lineFour {
	background-color: orange;
}
.lineFive {
	background-color: #00e8fd;
}


#Main {
    width:100%;
    height:100%;
}


/*Initial Screen Css*/

#InitialSetupContainer 
{
    position:absolute;
    width:100%;
    height:100%;
    visibility:hidden;
    display: -ms-grid;
    background-color:rgba(0,0,0,.7);
    -ms-grid-columns: 1fr 7fr 1fr;
    -ms-grid-rows: 1fr 8fr 1fr;
    z-index:10;
}

#TopLeft {
    background-color: green;
    width:100%;
    height:100%;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

#TopRight
{
    position:relative;
    background-color: green;
    width:100%;
    height:100%;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    overflow:hidden;
}

#DropDownBox 
{
    position:relative;
    top:-100%;
    height:60%;
    opacity:0;
    transition:top .5s,opacity .5s;
    background-color:purple;
}


#TopCenterBar 
{
    
    background-color: rgba(255,43,85,1);
    width:100%;
    border:solid 4px transparent;
    border-bottom:solid 4px rgba(255,255,255,1);
    height:100%;
    text-align:center;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

#MiddleContent 
{
    background-color: rgba(255,43,85,1);
    border: solid 4px rgba(0,200,12,1);
    text-align: center;
    width:100%;
    height:100%;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}
#GridHolder 
{
    position:relative;
    background-color: teal;
}

#FooterBar 
{
    background-color: purple;
    width:100%;
    height:100%;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}

.GridElement 
{
    position:absolute;
    border:dotted 5px rgba(20,20,20,.1);
    background-color: red;
}

.selectedGridElement 
{
    border:solid 5px rgba(16,255,0,1);
}

.selectedGridElement:after 
{
    content:url(images/GreenCheckMark.png);
}


#InitializationBindingDiv
{
    position: relative;
    background-color:grey;
    width:100%;
    height:100%;    
}

.PhaseDiv 
{
    position:absolute;
    width:100%;
    height:100%;
    display: -ms-grid;
    -ms-grid-rows: 1fr 4fr 1fr;
    -ms-grid-columns:1fr;
    background-color:orange;
}

.PhaseTopDiv
{
    -ms-grid-row: 1;
    width:100%;
    height:100%;
    background-color:antiquewhite;
}

.PhaseCenterDiv
{
    -ms-grid-row: 2;
    width:100%;
    background-color:aliceblue;
}


.PhaseBottomDiv
{
    -ms-grid-row: 3;
    width:100%;
    background-color:ActiveCaption;
    display: -ms-grid;
    -ms-grid-columns:2fr 1fr;
}

.PhaseBottomLeft 
{
    -ms-grid-column: 1;
    width:100%;
    height:100%;
    background-color:AppWorkspace;
}

.PhaseBottomRight
{
    -ms-grid-column: 2;
    display: -ms-grid;
    -ms-grid-columns:1fr 3fr;
    
}




.PhaseBottomRightRight
{
    -ms-grid-column: 2;
    border:solid 4px green;
    display: -ms-grid;
    -ms-grid-rows:1fr 1fr 1fr;
    -ms-grid-columns:1fr;
}

.PhaseBottomRightRightTop
{
    -ms-grid-row: 1;
    background-color:WindowFrame;
    border:  solid 2px gray;
}

.PhaseBottomRightRightCenter
{
    -ms-grid-row: 2;
    background-color:blue;
    border:  solid 2px gray;
}

.PhaseBottomRightRightBottom
{
    -ms-grid-row: 3;
    background-color:blueviolet;
    border:  solid 2px gray;
}

.defaultProgressEncasingDiv 
{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,.8);
}


.InitialServiceBindWelcomeScreenContinueButton 
{
    position:absolute;
    width : 10em;
    height : 5em;   
    top:100%;
    margin-top:-13em;
    left:100%;
    margin-left: -23em;
    border : solid 3px white;
    background-color:rgba(20,20,20,0);
    text-align: center;
    color:white;
}



.InitialServiceBindWelcomeScreenContinueButton:hover {
    background-color:rgba(20,20,20,.4);
}

.MiddleContentWelcomeContent
{
    position:absolute;
    top:20%;
    height:40%;
    width:60%;
    left:20%;
    border : solid 3px green;
}


/*FinishCss UI*/
.RegisteredPhaseElemt
{
    position:absolute;
    border:solid 3px red;
    overflow:auto;
}
.EachRegisteredServiceCaseElement
{
    position:absolute;
    border:solid 3px purple;
}
.FinishPhaseCase
{
    position:absolute;
    border:solid 3px green;
}

.SelectedPhaseServiceElement
{
    position:absolute;
    border:solid 3px pink;
    background-color:teal;
}


.FinishPhaseTextDomElement 
{
    position:absolute;
    width:100%;
    height:20%;
    top:0%;
    border: solid 3px rgba(196,10,255,1);
}

.DisplayRegisteredCasDiv 
{
    position:absolute;
    width:100%;
    height:60%;
    top:20%;
    border: solid 3px rgba(255,10,196,1);
}

button[name="FinishButton"] 
{
    position:absolute;
    color:red;
    background-color:blue;
    width:7em;
    margin-left:-10em;
    height:1em;
    margin-top:-1em;
    top:100%;
    left:100%;
}